.nav-bar {
    display: flex;
    align-items: center;
    background-color: var(--bg-color-background-header);
    height: 100px;
    width: 100%; 
    padding: 12px;
}

.header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    background-color: var(--bg-color-light-blue);
    border-radius: 50%;
}

.header-img > img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.header-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    text-align: center;
}

.red-text {
    color: rgb(221, 113, 74);
    font-size: 32px;
    padding-left: 10px;
}

.bigger-text {
    font-size: 24px;
}

.small-text {
    font-size: 16px;
}