*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Chiron Sung HK';
    background-color: var(--bg-color-background);
    color: var(--bg-color-text-color);
}

header {
   background-color: var(--bg-color-background-header);
   height: 100px;
   width: 100%; 
}