:root {
    --bg-color-background-header: #023e7d;
    --bg-color-background: #002855;
    --bg-color-div-background: #0353a4;
    --bg-color-light-blue: #0466c8;
    --bg-color-text-color: #edede9;
}
